h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: navy
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

form{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

table { 
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
}
table tbody tr:hover {
    background-color: #dddddd;
}

input[type="submit"]{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input[type="submit"]:hover {
  transform: translateY(-1px);
}

input[type="submit"]:active {
  background-color: #c85000;
  box-shadow: rgba(41, 21, 21, 0.06) 0 2px 4px;
  transform: translateY(0);
}